.App {
  background-color: #EAF4F4;
}

.categories-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  min-height: 100vh;
  padding: 20px;
}

.category-card {
  width: 200px;
  height: 300px;
  padding: 10px;
  background-color: #F6FFF8;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.category-card:hover {
  transform: scale(1.15);
  z-index: 10;
}

.category-image {
  max-width: 100%;
  max-height: 150px;
  width: auto;
  height: auto;
  object-fit: cover;
}

.category-info {
  text-align: center;
  width: 100%; /* Ensure text and button are aligned properly */
}

.category-name {
  font-size: 1.2rem;
  color: #597569;
  margin: 5px 0;
}

.add-category-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  background-color: #597569;
  color: #F6FFF8;
  font-size: 1rem;
  margin-top: 3rem;
  transition: background-color 0.2s ease; /* Smooth transition for hover effect */
}

/* Specific styles for the delete button */
.delete-category-button {
  background-color: #FF4D4D;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.2s;
}

.delete-category-button:hover {
  background-color: #D43D3D;
}

.overlayAddCategories {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay-content form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.overlay-content img {
  max-width: 100px;
  margin-top: 10px;
  border-radius: 5px;
}
