body{
    color: #597569;
}
.cards-container{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* This will spread the cards nicely */
    gap: 20px; /* Adjust the gap as needed */
    padding: 20px; /* Add padding if necessary */
}
h2{
    text-align: center;
    margin: 20px 0;
    font-size: 1.6rem;
    letter-spacing: 1px;
    font-weight: lighter;
}