/* Categories.css */
.categories-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.category-card {
  width: 200px;
  height: 300px; /* Fixed height */
  padding: 10px;
  background-color: #F6FFF8;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden; /* Ensures that the image does not overflow the card */
}

.category-image {
  max-width: 100%; /* Ensure the image is not wider than the card */
  max-height: 150px; /* Maximum height of the image */
  width: auto; /* Maintain the aspect ratio */
  height: auto; /* Maintain the aspect ratio */
  object-fit: cover; /* Cover the area of the card reserved for the image */
  padding: 2rem ;
}


.category-name {
  font-size: 1.2rem;
  color: #597569;
  margin: 5px 0;
  text-align: end;
  
}

.add-category-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  background-color: #597569;
  color: #F6FFF8;
  font-size: 1rem;
  margin-top: 3rem;
}

.overlayAddCategories {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style for the form elements within the overlay */
.overlay-content form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.overlay-content img {
  max-width: 100px; /* Adjust as needed */
  margin-top: 10px;
  border-radius: 5px;
}
