.front-page-container {
    font-family: 'Arial', sans-serif;
    position: relative;
    color: #597569;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
.front-page-nav {
    width: 100%;
    background: #EAF4F4;
    color: #597569  ;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-items: center; /* Align items vertically in the center */
}

.front-page-nav img{
    width: 150px;
    height: auto;
}

.nav-links {
    display: flex;
    align-items: center; /* Align nav links vertically in the center */
    gap: 30px; /* Adjust the space between nav items */
}

.nav-links a {
  color: #597569;
}

  .front-page-header {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #597569;
    height: 20vh; ;
  }

  .front-page-header h1 {
    font-size: 2.5rem;
    color: #EAF4F4;
    margin-bottom: 0.5rem;
  }

  .front-page-header p{
    font-size: 1.5rem;
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 5rem;
    color: #EAF4F4;
  }
  
  .front-page-main {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
    background-color: #EAF4F4;
  }
  
  .feature-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    max-width: 100rem;
    margin: 0px 50px;
  }

  .feature-card h3{
    font-size: 2rem;
    margin-top: 20px;
    font-weight: lighter;
  }
  
  .feature-card img {
    width: 53%;
    height: auto;
    margin: 50px;
  }
  
  .front-page-info article,
  .front-page-color-coding article {
    text-align: center;
    max-width: 300px;
    margin: 20px;
  }
  
  .front-page-footer {
    width: 100%;
    background: #4a4a4a;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
  }
  
  @media (max-width: 768px) {
    .front-page-header h1,
    .front-page-info h2,
    .front-page-color-coding h2 {
      font-size: 1.5rem;
    }
  
    .front-page-main,
    .front-page-info,
    .front-page-color-coding {
      flex-direction: column;
    }
    .register-button {
        width: 100%; /* Full width for small screens */
        padding: 15px; /* Larger padding for touch targets on mobile */
      }
  }
  .register-button-link {
    text-decoration: none; /* Removes underline from the link */
  }
  
  .register-button {
    background-color: #597569; /*primary button color */
    color: #FFFFFF; /* Typically white text for readability */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s; /* Smooth background color transition for hover effect */
    padding: 10px 20px;
    margin: 20px 0; 
  }
  
  .register-button:hover {
    background-color: #455A64; /* Darker shade for hover state */
  }

  .register-button-link2 button{
    padding: 1rem 6rem;
  }