body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

header {
  background-color: #EAF4F4; /* Light background for header */
  color: #597569; /* Dark text color for readability */
  padding: 0.5rem;
  text-align: center;
  display: flex;
  justify-content: space-around ; /* Space items evenly */
  align-items: center;
  height: 4rem;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  margin: 0;
}

nav li {
  margin: 0 1rem;
}

nav a, .home-link, .home-link-frontpage {
  text-decoration: none;
  color: #455A64; /* Darker link color for contrast */
  font-weight: bold;
}

.hamburger-icon {
  color: #455A64; /* Icon matches link color */
  font-size: 24px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background-color: #F6FFF8; /* Light overlay background */
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 20;
}

.overlay.visible {
  transform: translateX(0);
}

.overlay ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
  width: 100%;
}

.overlay li {
  padding: 20px;
  border-bottom: 1px solid #EEEEEE;
  color: #333333; /* Dark text for overlay items */
}

.sign-out {
  background-color: #FF3333; /* Sign out button in red for attention */
  color: white;
  padding: 15px 20px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

.overlay li a {
  color: inherit;
  text-decoration: none;
  display: block;
}

.profile-image {
  width: 70px;
  height: 70px;
  border-radius: 50%    ; /* Makes the image round */
  object-fit: cover; /* Ensures the image covers the space without distortion */
  cursor: pointer; /* Indicates the image is clickable */
  border: 2px solid #455A64; /* Dark border for contrast */
  margin: 0 1rem;
  margin-top: 1rem;
}

.home-link-red {
  background-color: #597569;
  color: #EAF4F4;
  padding: 5px;
  display: inline-block;
}
