/* src/components/Header.css */
body {
  margin: 0; /* Remove default margin */
  font-family: 'Arial', sans-serif; /* Apply your chosen font */
}

header {
  background-color: #A4C3B2;
  color: #597569;
  padding: 0.5rem; /* Adjust padding as needed */
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 1.5rem; /* Adjust height as needed */
}

nav ul {
  list-style: none;
  padding: 0; /* Remove default padding */
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0; /* Remove default margin */
}

nav li {
  margin: 0 1rem; /* Adjust margin as needed */
}

nav a {
  text-decoration: none;
  color: #597569;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.hamburger-icon {
  color: #597569;
  font-size: 24px; /* Adjust size as needed */
  cursor: pointer;
}

.profile-image {
  border-radius: 50%;
  height: 40px; /* Adjust size as needed */
  width: 40px; /* Adjust size as needed */
}

/* Overlay styles */
.overlay {
  position: fixed; /* Overlay should be positioned relative to the viewport */
  top: 0;
  left: 0; /* Align the overlay to the left side of the viewport */
  width: 300px; /* Width of the overlay */
  height: 100%; /* Make overlay take full height */
  background-color: #F6FFF8; /* Background color for the overlay */
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5); /* Add some shadow to the right side */
  transform: translateX(-100%); /* Start off-screen */
  transition: transform 0.3s ease; /* Transition for the sliding effect */
  z-index: 20; /* Adjust the z-index as needed to be higher than .add-item-overlay */
}

/* When overlay is visible */
.overlay.visible {
  transform: translateX(0); /* Slide in */
}

/* Style for the overlay contents */
.overlay ul {
  list-style-type: none; /* Remove bullet points from list items */
  padding: 0; /* Remove padding */
  margin:  0; /* Add some margin to top and bottom */
  width: 100%;
}

.overlay li {
  padding: 20px; /* Increased padding for better spacing */
  border-bottom: 1px solid #EEEEEE; /* Lighter border color for item separation */
  font-size: 18px; /* Larger font size for better readability */
  font-weight: normal; /* Normal font weight for list items */
  color: #333333; /* Darker font color for list items */
}

/* Style for the sign-out button */
.sign-out {
  background-color: #FF3333; /* Brighter red for the button */
  color: white;
  padding: 15px 20px; /* Padding to increase button size */
  margin-top: 20px; /* Margin at the top to separate from the list */
  border: none; /* Remove any default border */
  font-size: 18px; /* Font size to match the list items */
  font-weight: bold; /* Bold font weight for the button text */
  text-transform: uppercase; /* Uppercase text for the button */
  border-radius: 5px; /* Rounded corners for the button */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}

/* Additional styles for responsive design or other elements can be added here */
.overlay li a {
  color: inherit; /* Ensuring anchor tags inherit the color from the list item */
  text-decoration: none; /* No underline for the anchor tags */
  display: block; /* Block display for full width clickable area */
}

h1{
  font-size: 30px;
  color: #597569;
  -webkit-text-stroke: 0.5px #F6FFF8; /* Define the width and color of the stroke */
  text-stroke: 2px #F6FFF8; /* Standard syntax; currently, only works in WebKit/Safari */
  
}
