body {
  margin: 0;
  font-family: 'Courier New', cursive;
  background-color: #CCE3DE;
}

.header {
  color: #F6FFF8;
  background-color: #597569;
  text-align: center;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header h3 {
  margin: 0;
  font-size: 2rem;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin: 0 1rem;
}

nav a {
  color: #F6FFF8; /* Light text */
  font-weight: bold;
}

.login-square {
  background-color: #F6FFF8;
  width: 40%;
  padding: 2rem;
  text-align: center;
  color: #597569;
  margin: auto; /* Center the form on the page */
  height: auto; /* Adjust height based on content */
  min-height: 975px; /* Match Register form minimum height */
}

.login-square h2 {
  margin-bottom: 2rem;
  color: #597569;
  font-size: 2.5rem;
}

label {
  display: block;
  color: #597569;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

input {
  width: 80%;
  border: none;
  border-radius: 0.5rem;
  background-color: #A4C3B2;
  color: black;
  margin-bottom: 2rem;
  padding: 0.5rem;
}

button {
  background-color: #597569; /* Dark background */
  color: #F6FFF8; /* Light text */
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin-top: 1rem; /* Space above the button */
}

.signup-link {
  color: #597569;
  margin-top: 2rem; /* Space above the sign-up link */
}

.signup-link p {
  display: inline;
  margin-right: 0.5rem;
}

.signup-link a {
  color: #597569; /* Dark text */
  font-weight: bold;
}

.signup-link a:hover {
  color: #455A64; /* Slightly darker shade for hover */
}

.error-message {
  color: #D9534F; /* Bootstrap's `btn-danger` color for errors */
  margin-bottom: 1rem; /* Space below the error message */
}
