body {
  margin: 0;
  padding: 0;
  background-color: #CCE3DE; /* Your chosen background color */
  font-family: 'Arial', sans-serif; /* Or any font you're using */
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  max-width: 1000px; /* Or your preferred max width */
}

.card {
  background-color: #F6FFF8;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 200px; /* Adjust the width as needed */
  margin: 10px;
  overflow: hidden; /* This ensures the image stays within the card bounds */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-placeholder {
  width: 100%; /* Full width of the card */
  height: auto; /* Height is auto to maintain image aspect ratio */
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-placeholder img {
  width: 100%; /* This will make the image fit the width of the card */
  height: auto; /* This will maintain the aspect ratio of the image */
  object-fit: cover; /* This will cover the placeholder area, you can use 'contain' to fit the image within it */
}

.card-content {
  padding: 10px;
  text-align: center;
  flex-grow: 1; /* Allow content to take up the remaining space */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
}

.item-name {
  font-size: 1rem; /* Adjust font size as needed */
  margin-bottom: 0.5rem; /* Spacing between name and amount */
  color: #597569;
  font-weight: bold; /* Make the name bold */
}

.item-number {
  font-size: 1.5rem; /* Adjust font size as needed */
  font-weight: bold; /* Make the amount bolder */
  color: #597569; /* Darker text color for the amount */
}


.add-item-button {
  background-color: #597569;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Add additional styles for specific breakpoints if needed */
@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%; /* Full width on smaller screens */
  }
}
