body {
  margin: 0;
  padding: 0;
  background-color: #CCE3DE; /* Your chosen background color */
  font-family: 'Arial', sans-serif; /* Or any font you're using */
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  max-width: 1000px; /* Or your preferred max width */
}

.card {
  background-color: #F6FFF8;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 200px; /* Adjust the width as needed */
  margin: 10px;
  overflow: hidden; /* This ensures the image stays within the card bounds */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto; /* Let the height be determined by the content */
}

.image-placeholder {
  width: 100%; /* Full width of the card */
  height: 250px; /* Fixed height for all images */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white; /* Fills the empty space with white background */
}

.image-placeholder img {
  max-width: 100%; /* Image can be as wide as the container but no wider */
  max-height: 100%; /* Image can be as tall as the container but no taller */
  object-fit: contain; /* Maintain aspect ratio, but fit within the given dimensions */
}


.card-content {
  padding: 10px;
  text-align: center;
  flex-grow: 1; /* Allow content to take up the remaining space */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
}

.item-name {
  font-size: 1rem; /* Adjust font size as needed */
  margin-bottom: 0.5rem; /* Spacing between name and amount */
  color: #597569;
  font-weight: bold; /* Make the name bold */
}

.item-number {
  font-size: 1.5rem; /* Adjust font size as needed */
  font-weight: bold; /* Make the amount bolder */
  color: #597569; /* Darker text color for the amount */
}


.add-item-button {
  background-color: #597569;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Add additional styles for specific breakpoints if needed */
@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%; /* Full width on smaller screens */
  }
}

/* New overlay styles for the "Add Item" button */
.mainOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* Cover the full viewport width */
  height: 100vh; /* Cover the full viewport height */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* High z-index to be on top */
}

.add-item-overlay {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px; /* Space between form items */
  z-index: 1001; /* Above the .mainOverlay */
}

.add-item-overlay form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
}

.add-item-overlay input[type="file"],
.add-item-overlay input[type="text"],
.add-item-overlay input[type="number"] {
  padding: 10px;
  margin-bottom: 10px; /* Space between inputs */
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-item-overlay button {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.add-item-overlay button[type="submit"] {
  background-color: #597569;
  color: white;
}

.add-item-overlay button[type="button"] {
  background-color: #CCCCCC;
  color: #333333;
}




