body {
  background-color: #CCE3DE;
}

.square {
  width: 8vw; /* Adjusted size for the square background */
  height: 30vh; /* Adjusted size for the square background */
  background-color: #F6FFF8;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
  margin-left: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #6B9080;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 1vw;
}

.itemsBg {
  height: 65vh; /* Adjusted size for the square with items */
  width: auto;
  border-radius: 1.5vw;
  background-color: #EAF4F4;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Display squares in two lines */
@media (min-width: 768px) {
  .itemsBg {
    max-width: 1200px;
  }
}

.pictures {
  width: 6vw; /* Adjusted size for the square with items */
  height: 7vw; /* Adjusted size for the square with items */
  background-color: #CCE3DE;
  border-radius: 2.5vw; /* Adjusted size for the square with items */
}

.content {
  text-align: center;
}

.name, .number {
  display: block;
  margin-top: 1vw;
}

.button-container {
  display: flex;
  align-items: center;
}

.prev_page_button {
  width: 4vw; /* Adjusted size for the previous page button */
  height: 4vw; /* Adjusted size for the previous page button */
  background-color: #A4C3B2;
  border-radius: 50%;
  margin-left: 1.5vw; /* Adjusted margin for the previous page button */
}

.next_page_button {
  width: 4vw; /* Adjusted size for the next page button */
  height: 4vw; /* Adjusted size for the next page button */
  background-color: #A4C3B2;
  border-radius: 50%;
  margin-right: 1.5vw; /* Adjusted margin for the next page button */
}